<!DOCTYPE html>
<html>
<head>
	<title>Sorting Hat</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Almendra+SC|Cinzel+Decorative" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body class="container">

<h1 class="intro">Hello, Student! Welcome to your Sorting.</h1>


<div id="app" v-cloak>


<div class="row justify-content-center sortingHatRow">
<div class="col">
<img class="sortingHat mx-auto img-fluid" src="http://orig13.deviantart.net/3b0f/f/2011/235/6/b/the_sorting_hat_by_sahinduezguen-d47mwt5.png">
</div>
<div class="col sortingHatDialogue">

<div v-if="buttonClicked === 'no'">But where to put you? ... <button class="btn btn-secondary" v-on:click = "sortBegins">Get Sorted</button></div>

<div v-else-if="buttonClicked === 'yes'"><h3>{{ currentQuestion }}</h3>
<ol class="answerList"><li v-for="(answer, index) in questions[questionNum].answers" class="answerListItem"><button class="btn btn-secondary answerButton" v-on:click = "answerQuestion(index)">&#10004;</button>{{ answer.text }}</li>
</ol></div>

<div v-else-if="buttonClicked === 'sorting'">Hmmmm.... But where to put you? ....</div>

<div v-else><p>Better be... </p>
<h1 class="house">{{ sortedHouse }}</h1>
<p style="font-size:70%">Scroll down to learn more about your house...</p>
<button class="btn btn-secondary" v-on:click="reset">Sort Again</button>
</div>

</div>
</div>

<!-- <div class="row justify-content-center sortingHatRow">
<img class="sortingHat mx-auto img-fluid" src="http://orig13.deviantart.net/3b0f/f/2011/235/6/b/the_sorting_hat_by_sahinduezguen-d47mwt5.png">
</div> -->


<!-- <h2>Welcome to... </h2>
<h1 class="house">{{ chosenHouse }}</span></h1> -->

<div v-if="sortedHouse === 'Gryffindor'" class="houseDescription" >
<div class="row houseRow">
<div class="col-xs-4 crestCol1">
<img class="houseCrest" src="https://vignette.wikia.nocookie.net/harrypotter/images/f/f2/Gryffindor%E2%84%A2_Crest.png/revision/latest?cb=20091129182119" class="mx-auto img-fluid">
</div>

<div is="houseInfo"
	v-bind:values = "houses[0].values"
	v-bind:founder = "houses[0].founder"
	v-bind:mascot = "houses[0].mascot"
	v-bind:colours = "houses[0].colours"
	v-bind:element = "houses[0].element"
	v-bind:alumni = "houses[0].alumni">
</div>
</div>
</div>

<div v-else-if="sortedHouse === 'Hufflepuff'" class="houseDescription" >
<div class="row houseRow">
<div class="col-xs-4 crestCol1">
<img class="houseCrest" src="https://i.pinimg.com/originals/a9/6e/2c/a96e2cf3e7cadf8003403b48da556276.png" class="mx-auto img-fluid">
</div>
<div is="houseInfo"
	v-bind:values = "houses[2].values"
	v-bind:founder = "houses[2].founder"
	v-bind:mascot = "houses[2].mascot"
	v-bind:colours = "houses[2].colours"
	v-bind:element = "houses[2].element"
	v-bind:alumni = "houses[2].alumni">
</div>
</div>
</div>

<div v-else-if="sortedHouse === 'Ravenclaw'" class="houseDescription" >
<div class="row houseRow">
<div class="col-xs-4 crestCol1">
<img class="houseCrest" src="http://vignette1.wikia.nocookie.net/harrypotter/images/6/6c/Ravenclaw%E2%84%A2_Crest_%28Painting%29.png/revision/latest?cb=20091129184403" class="mx-auto img-fluid">
</div>
<div is="houseInfo"
	v-bind:values = "houses[1].values"
	v-bind:founder = "houses[1].founder"
	v-bind:mascot = "houses[1].mascot"
	v-bind:colours = "houses[1].colours"
	v-bind:element = "houses[1].element"
	v-bind:alumni = "houses[1].alumni">
</div>
</div>
</div>

<div v-else-if="sortedHouse ==='Slytherin'" class="houseDescription" >
<div class="row houseRow">
<div class="col-xs-4 crestCol1">
<img class="houseCrest" src="http://img3.wikia.nocookie.net/__cb20091129190321/harrypotter/images/e/ef/Slytherin%E2%84%A2_Crest_(Painting).png" class="mx-auto img-fluid">
</div>
<div is="houseInfo"
	v-bind:values = "houses[3].values"
	v-bind:founder = "houses[3].founder"
	v-bind:mascot = "houses[3].mascot"
	v-bind:colours = "houses[3].colours"
	v-bind:element = "houses[3].element"
	v-bind:alumni = "houses[3].alumni">
</div>
</div>
</div>

</div>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://unpkg.com/vue"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>