[v-cloak] {
	display:none; 
}

body{
	/*background-color: #7D599C;*/
	background-color: #E0D6C9;
}

.intro {
	font-family: 'Cinzel Decorative', cursive;
	margin-top:5%;
	margin-bottom:3%;
	text-align:center;

}

.sortingHatDialogue {
	vertical-align:middle;
	text-align:center;
	font-family: 'Cinzel Decorative', cursive;
	font-size:150%;
}

.sortingHatRow {
	margin-bottom:5%;

  	display: flex;
  	align-items: center;
}

h2 {
	text-align: center;
	font-family: 'Cinzel Decorative', cursive;
	margin-top:10%;

}

h3 {
	text-align:left;
}

.btn {
	background-color:#342847;
	color:#F9FCF8;
}

.answerList {
	text-align:left;
	list-style:none;
	
}
 
.answerListItem {
	font-size:70%;
	margin-top:1%;
	margin-bottom:1%;
	font-family: 'Open Sans', sans-serif;

}

.answerText {
	display:inline;
}
.answerButton {
	background-color:transparent;
	text-align:left;
	font-size: 60%;
	background-color:#342847;
	color:#F9FCF8;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:2%;
	padding-right:2%;
	display:inline-block;
	float:left;
}

.font-weight-bold {
	font-weight:900;
	color:#342847;
}

.house {
	text-align:center;
	font-family: 'Almendra SC', serif;
	margin-top:3%;
	margin-bottom:3%;
	font-size:400%;
}

.houseRow {
	width:100%;
}

.houseDescription {
	
	margin-left:auto;
	margin-right:auto;
	float:left;
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Cinzel Decorative', cursive;*/
}

.crestCol1 {
	width:40%;
	padding-right:auto;
	margin-left:7%;
}


.listCol {
	width:50%;
	padding-top:8%;
	padding-bottom:auto;
	padding-right:0%;
}

.houseCrest {
	display:inline-block;
  	height: auto;
  	width:300px;
}

.list {
	display: inline-block;
	padding-right:0;
}

ul {
	list-style:none;

}